/** Loading Screen **/
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

/** layout **/
#editor-host {
  margin-top: 15px;
}

.card-dark {
  background-color: #333;
  border-color: #333;
}

/** editor **/
.drag-source > div {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drop-target {
  border: 1px dashed #333;
  border-radius: .25rem;
}

tag .card-header {
  display: inline-block;
  cursor: pointer;
}

tag .card-header {
  border-right: 1px solid #e5e5e5;
  border-radius: .25rem 0 !important;
}

.tag-tools {
  float: right;
  padding: 10px 15px;
}

.tag-tools .fa-edit {
  color: #26b725;
}

.tag-tools .fa-clone {
  color: #0088c3;
}

.tag-tools .fa-trash-o {
  color: #c30006;
}

ai-dialog-overlay.active {
  background-color: #000;
  opacity: .75 !important;
}
