/** Loading Screen **/
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

/** layout **/
#editor-host {
  margin-top: 68px;
}

/** editor **/
.drag-source > div {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drop-target-marker {
  border: 1px dashed #e5e5e5;
  border-radius: .25rem;
  margin: 1rem;
  padding: 1rem;
}

tag .card {
  border-style: dashed;
}

tag .card-header {
  display: inline-block;
  cursor: pointer;
}

tag .card-header, tag .card-header:first-child {
  border-bottom-style: dashed;
}

tag .card-header.card-no-block {
  border-radius: 0;
  border-bottom: 0;
}

tag .card-selected {
  border-color: #0275d8;
}

tag .card-selected > .card-header {
  background-color: #0275d8;
  color: #fff;
}

ai-dialog-overlay.active {
  background-color: #000;
  opacity: .75 !important;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #fff;
}
