<template>
  <require from="view-model/tagbar-element"></require>
  <require from="view-model/document-element"></require>
  <require from="view-model/document-tools-element"></require>

  <nav class="navbar navbar-full navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapse-navbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="collapse-navbar">
      <a class="navbar-brand" href="#">XML Editor</a>
      <form class="form-inline pull-xs-right" style="padding: .375rem">
        <div class="checkbox">
          <label>
            <input type="checkbox" checked.bind="showHelp"> Show Help
          </label>
        </div>
      </form>
    </div>
  </nav>

  <div class="container-fluid" id="editor-host">
    <div class="row">
      <div class="col-lg-3">
        <tagbar help.bind="showHelp"></tagbar>
      </div>
      <div class="col-lg-6">
        <document document.bind="activeDocument"></document>
      </div>
      <div class="col-lg-3">
        <document-tools document.bind="activeDocument"></document-tools>
        <compose view-model.bind="activeDocument.selectedTag" if.bind="activeDocument && activeDocument.selectedTag"></compose>
      </div>
    </div>
  </div>
</template>
