<template>
  <require from="view-model/tagbar-element"></require>
  <require from="view-model/document-element"></require>
  <require from="view-model/document-tools-element"></require>

  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="collapse-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">XML Editor</a>

    <div class="collapse navbar-collapse" id="collapse-navbar">
      <form class="form-inline ml-auto">
        <div class="form-check">
          <label class="form-check-label text-white">
            <input class="form-check-input" type="checkbox" checked.bind="showHelp"> Show Help
          </label>
        </div>
      </form>
    </div>
  </nav>

  <div class="container-fluid" id="editor-host">
    <div class="row">
      <div class="col-lg-3">
        <tagbar help.bind="showHelp"></tagbar>
      </div>
      <div class="col-lg-6">
        <document document.bind="activeDocument"></document>
      </div>
      <div class="col-lg-3">
        <document-tools document.bind="activeDocument"></document-tools>
        <compose view-model.bind="activeDocument.selectedTag" if.bind="activeDocument && activeDocument.selectedTag"></compose>
      </div>
    </div>
  </div>
</template>
